.container {
  background: #ffffff;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  gap: 16px;
  width: max-content;
}

.pill {
  padding: 8px 20px;
  border-radius: 999px;
  background: white;
  border: 1px solid #e5e7eb;
  white-space: nowrap;
  cursor: text;
  font-size: 30px;
  color: #374151;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: monospace;
}
.pill:hover{
    background: rgba(241, 240, 240, 0.851);
}
.lego {
  width: 44px;
  height: 42px;
  flex-shrink: 0;
  user-select: none;
  pointer-events: none;
}